[submodule "jetstack-cert-manager"]
	path = cert-manager
	url = https://github.com/openshift/jetstack-cert-manager.git
	branch = master
[submodule "cert-manager-operator"]
	path = cert-manager-operator
	url = https://github.com/openshift/cert-manager-operator.git
	branch = master
